[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
django = "==1.11.22"
django-rest-framework = "*"
django-heroku = "*"
tz = "*"

[dev-packages]

[requires]
python_version = "3.5"
